
<div>
  <h1>Congratulations! your short link is:</h1>
  <br>
  <a href="<%== @link.short %>" target="_blank"><%= @link.short %></a>
</div>


<%= link_to 'Edit', edit_link_path(@link), class: 'btn'  %> 
<%= link_to 'Back', links_path,  class: 'btn'  %>